<html ng-app="firstApp">
	<head>
		<title>From Control</title>
		<style>
			input.ng-invalId {
				border: 1px solId red;
				background: #fff0f0;
			}

			input.ng-valId {
				border: 1px solId green;
				background: #f0fff0;
			}
		</style>
		<script type="text/javascript" src="scripts/js/angular.js"></script>
		<script type="text/javascript" src="scripts/js/angular-route.js"></script>
		<script type="text/javascript">
			// Applcation definition and config
			var app = angular.module("firstApp", ['ngRoute']);

			app.service("albumsSvc", function(){
				this.Albums = [{
					Id			: 1,
					Name		: 'Dark sIde of the moon',
					Artist		: 'Pink Floyd',
					Year		: 1973
				},{
					Id			: 2,
					Name		: 'Argus',
					Artist		: 'Wishbone Ash',
					Year		: 1972
				},{
					Id			: 4,
					Name		: 'Ziggy Stardust',
					Artist		: 'DavId Bowie',
					Year		: 1972
				},{
					Id			: 7,
					Name		: 'Badfinger',
					Artist		: 'Badfinger',
					Year		: 1971
				},{
					Id			: 9,
					Name		: 'Thriller',
					Artist		: 'Michael Jackson',
					Year		: 1982
				}]

				this.selectedName;
				this.selectedArtist;
				this.selectedYear;

				this.selectedId;

				this.getIndex = function() {
					var index = -1;

					for (var I = 0; I < this.Albums.length; I += 1){
						if (this.Albums[I].Id == this.selectedId)
							index = I;
					}
					return index;
				}

				// View sets the selected Album index - this copies the selected Album
				// data values into separate data fields that then appear in the Edit page.
				this.setAlbumId = function(Id) {
					this.selectedId		= Id;

					var index = this.getIndex();

					this.selectedName	= this.Albums[index].Name;
					this.selectedArtist	= this.Albums[index].Artist;
					this.selectedYear	= this.Albums[index].Year;
				}

				this.clearAlbum = function () {
					this.selectedId		= -1;
					this.selectedName	= "";
					this.selectedArtist	= "";
					this.selectedYear	= 0;
				}

				this.deleteAlbum = function(Id){
					this.selectedId		= Id;

					var index = this.getIndex();

					this.Albums.splice(index, 1);
				}

				// Save Album changes
				this.save = function() {
					if (this.selectedId == -1) {
						var maxId = -1;

						for (var I=0; I<this.Albums.length; I++){
							if (this.Albums[I].Id > maxId)
							maxId = this.Albums[I].Id;
						}

						maxId++;

						// Add the new Album element to the Albums array
						this.Albums.push({Id : maxId, Name   : this.selectedName,
						Artist : this.selectedArtist,
						Year   : this.selectedYear});
					} else {
						var index = this.getIndex();

						// Save the edited values to the model
						this.Albums[index].Name   = this.selectedName;
						this.Albums[index].Artist = this.selectedArtist;
						this.Albums[index].Year   = this.selectedYear;
					}
				}
			});

			app.config(function($routeProvider){
				$routeProvider.
					when('/View', {
						templateUrl	: 'templates/view/RouteView3.html',
						controller	: 'abViewCtrl'
					})
					.when('/Edit', {
						templateUrl	: 'templates/edit/RouteEdit3.html',
						controller	: 'abEditCtrl'
					})
					.when('/Add', {
						templateUrl	: 'templates/add/RouteAdd7.html',
						controller	: 'abEditCtrl'
					})
					.otherwise({
						redirectTo: '/View'
					});
			});

			/*
				Alternative:
				app.controller('abViewCtrl',
								['$scope', 'albumsSvc', function ABViewCtrl($scope, albumsSvc){
							}]);
				Syntax exists for code minification reasons - Angular needs to be able to refer to the Data Injection actual names after minification.
				It appears that the syntax used is an abbreviated version of the formal syntax, and it may be that this more formal syntax must be used in certain circumstances.
			*/
			app.controller("abViewCtrl", function abViewCtrl($scope, albumsSvc, $window){
				// Get addressability for the Albums data via a data service
				$scope.Albums    = albumsSvc.Albums;
				$scope.albumsSvc = albumsSvc;

				// Set the album index and navigate to the Edit page
				$scope.setAlbumId = function(Id) {
					// Tell the service to store the index and prepare edit data
					$scope.albumsSvc.setAlbumId(Id);

					// Navigate to the Edit page using the Angular version of window
					$window.location.href = "#/Edit";
				}

				// Add a new album
				$scope.addAlbum = function() {
					// Tell the service to reset the selected album values
					$scope.albumsSvc.clearAlbum();

					$window.location.href = "#/Add";
				}

				// Delete an album
				$scope.deleteAlbum = function(Id, Name) {
					if (confirm('Are you sure you want to delete "'+Name+'"?')){
					// Tell the service to delete the specified album from the data model
						$scope.albumsSvc.deleteAlbum(Id);
					}
				}
			});

			app.controller("abEditCtrl", function abEditCtrl($scope, albumsSvc, $window){
				$scope.changed = false;

				// Save the album changes and return to the View page
				$scope.save = function() {
					// Tell the service to save the album changes
					$scope.albumsSvc.save();

					// And return to the albums view page
					$window.location.href = "#/View";
				}

				// Cancel album changes
				$scope.cancel = function() {
				if (confirm('Return to view without saving?'))
					$window.location.href = "#/View";
				}
			});

			/*
				Directives
				- A stands for element
				- AE stands for both attribute and element

				"@" - access by value
				"=" - access by reference
			*/
			app.directive("abAlbum", function () {
				return {
					restrict		: "A",
					transclude	: false,
					scope			: {
						name		: "@",
						artist		: "@",
						year		: "@",
						id			: "@"
					},
					templateUrl: "Album.html"
				}
			});

			app.directive('abAlbumEdit', function (albumsSvc) {
				return {
					link: function (scope) {
						scope.albumsSvc = albumsSvc;
					},

					// We limit this directive to use as an attribute only.
					// Note that 'A' is the default, so not strictly needed here.
					restrict : 'A',

					// We do not want to use the contents of the element
					transclude : false,
					scope	: {
						label: "@"
					},
					controller	: 'abEditCtrl',
					// We format the album fields
					templateUrl : 'AlbumEdit.html'
				}
			});
		</script>
		<script type="text/ng-template" Id="Album.html">
			<tr>
			<td>"{{name}}"</td><td>{{artist}}</td><td>{{year}}</td>
				<button ng-click="$parent.setAlbumId(id)">Edit</button>
				<button ng-click="$parent.deleteAlbum(id, name)">Delete</button>
			</tr>
		</script>
		<script type="text/ng-template" Id="AlbumEdit.html">
			<form name="AlbumForm">
				<input ng-model="albumsSvc.selectedName" required ng-minlength="3" ng-maxlength="25" ng-change="changed=true" />
				<input ng-model="albumsSvc.selectedArtist" required ng-minlength="3" ng-maxlength="25" ng-change="changed=true"/>
				<input ng-model="albumsSvc.selectedYear" ng-change="changed=true" type="number" required min="1950" max="2200" ng-pattern="/^[0-9]{4,4}$/" />
				<button ng-click="save()" type="submit" ng-show="changed" ng-disabled="AlbumForm.$invalId">{{label}}</button>
				<button ng-click="cancel()">Cancel</button>
			</form>
		</script>
	</head>
	<body>
		<div ng-view></div>
	</body>
</html>