<html ng-app="firstApp">
	<head>
		<title>First App Test</title>
		<script type="text/javascript" src="scripts/js/angular.js"></script>
		<script type="text/javascript">
			// Applcation definition and config
			var app = angular.module("firstApp", []);
			// Controler with composite model in this case
			app.controller("firstController", function firstController($scope){
				$scope.Albums = [{
					Name		: 'Dark side of the moon', 
					Artist	: 'Pink Floyd', 
					Year		: 1973
				},{

					Name		: 'Argus',
					Artist	: 'Wishbone Ash', 
					Year		: 1972
				},{

					Name		: 'Ziggy Stardust', 
					Artist	: 'David Bowie', 
					Year		: 1972
				},{

					Name		: 'Badfinger', 
					Artist	: 'Badfinger',
					Year		: 1971
				},{

					Name		: 'Thriller', 
					Artist	: 'Michael Jackson', 
					Year		: 1982
				}];
			});

			/*
				Directives
				- A stands for element
				- AE stands for both attribute and element
			*/
			app.directive("abAlbum", function () {
				return {
					restrict		: "A",
					transclude	: false,
					scope			: {
						name   : "@",
						artist : "@",
						year   : "@"
					},
					templateUrl: "Album.html"
				}
			});
		</script>
		<script type="text/ng-template" id="Album.html">
			<tr>
				<td>"{{name}}"</td>
				<td>{{artist}}</td>
				<td>{{year}}</td>
			</tr>
		</script>
	</head>
	<body>
		<!--
			'search' is a Javascript object, even though we are treating it as a string before.
			(ng-model="search" could have been written ng-model="search.$" - the dollar sign meaning that all fields to be filtered).
		-->
		<div ng-controller="firstController">
			<table>
				<tr>
					<th>Album</th><th>Artist</th><th>Year</th>
				</tr>
				<tr ab-album ng-repeat="Album in Albums | filter:search track by Album.Name"
					name="{{Album.Name}}" artist="{{Album.Artist}}" year="{{Album.Year}}">
				</tr>
				<tr>
					<td><input ng-model="search.Name"></input></td>
					<td><input ng-model="search.Artist"></input></td>
					<td><input ng-model="search.Year"></input></td>
				</tr>
			</table>
		</div>
	</body>
</html>